<tr>
<td><%= link_to(quiz.title, edit_quiz_path(quiz)) %></td> <!-- # 変数名はrenderのオプションで指定した変数の単数形でなければいけない -->
<td><%= quiz.created_at %></td>
<td><%= quiz.learning_history.tags.map(&:name).join(',') %></td>
<td><%= quiz.learning_history.count %></td>
<td><%= quiz.learning_history.status %></td>
</tr>
