<div class="input-group mb-3">
  <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_quizzes_path %>" role="combobox" class="w-100">
    <%= search_form_for q, url: url, html: { data: { turbo_frame: "list" } }, class: "d-flex" do |f| %>
      <%= f.search_field :title_cont, data: { autocomplete_target: 'input' }, class: "form-control", placeholder: "検索ワード" %>
      <div class="input-group-append">
        <%= f.submit "検索", class: "btn btn-primary" %>
      </div>
      <%= f.hidden_field :title, data: { autocomplete_target: 'hidden' } %>
    <% end %>
    <ul class="list-group bg-white text-dark" data-autocomplete-target="results" style="max-height: 10rem; overflow-y: scroll;">
    </ul>
  </div>
</div>
